.add-project-container {
    display: flex;
    font-family: "Roboto";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    padding: 30px;
}
.add-project-text {
font-size: 50px;
}
.form-container {
display: flex;
flex-direction: column;
}
.input-container {
display: flex;
flex-direction: column;
margin-bottom: 40px;
}
.name-text {
font-size: 20px;
margin-bottom: 6px;
}
.input {
width: 500px;
border: 1px solid #E8ECF4;
background-color: #ffffff;
height: 40px;
border-radius: 5px;
}
.textarea {
width: 500px;
border: 1px solid #E8ECF4;
background-color: #ffffff;
border-radius: 5px;
}
.add-button {
border: none;
align-self: flex-end;
background-color: #FDC435;
border-radius: 6px;
font-size: 15px;
padding: 7px;
padding-left: 10px;
padding-right: 10px;
font-weight: 600;
width: 70px;
padding-top: 10px;
padding-bottom: 10px;
}

.projects-container {
    margin-top: 30px;
}
.project-list-container {
    padding-left: 0px;
    width: 100%;
}
.project-text {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .input {
        width: 300px;
    }
    .textarea{
        width: 300px;
    }
    .add-project-text {
        font-size: 30px;
    }
}

.logos {
    font-size: 30px;
    margin-right: 20px;
    margin-top: 40px;
}