.project-card-container {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.project-text-container {
    align-self: center;
}
.project-image {
    width: 40%;
    margin-top: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    border-radius: 5px;
}
.name-text1 {
    font-size: 20px;
}
.visit-button {
    
        border: 1px solid #25282B;
         background-color: transparent;
         color: #25282B;
         border-radius: 30px;
         font-size: 11px;
         padding: 7px;
         padding-left: 10px;
         padding-right: 10px;
         font-weight: 600;
         
         padding-top: 10px;
         padding-bottom: 10px;
         
      
}
.description-text1 {
    color: #828282;
}
@media screen and (min-width: 600px) {
   .project-card-container {
    width: 80vw;
    height: 300px;
   }
   .name-text1 {
    font-size: 40px;
   }
   .description-text1 {
    font-size: 20px;
    color: #828282;
}
.visit-button {
    font-size: 15px;
}
}