.about-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    
  }

.about-items-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.octo-image-container {
  background-color: #ffffff;
  height: 50%;
  width: 70%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 8px 8px 8px #bfbebe;
}
.apple-image {
  width: 100%;
  border-radius: 10px;
}

.list-items {
  display: flex;
  border-bottom: 1px solid gray;
  list-style-type: none;
  width: 70%;
  padding: 20px;
}
.items {
  font-size: 20px;
  padding-right: 60px;
  font-weight: 500;

  
}
.title-container {
  width: 70%;
}
.title-para {
  font-size: 20px;
}
.tickets-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2e7ff;
}





























