.about-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    padding-left: 95px;
    padding-right: 95px;
    height: 100vh;
  }
.text-container {
  width: 100%;
}
.role {
    color: #FDC435;
    font-weight: 500;
}
.about-items-container {
  display: flex;
}
.main-title {
  font-size: 40px;
  font-family: "Roboto";
}
.description {
  font-size: 25px;
  color: #828282;
}
.projects-button {
   border: none;
   background-color: #FDC435;
   border-radius: 6px;
   font-size: 15px;
   padding: 7px;
   padding-left: 15px;
   padding-right: 15px;
   font-weight: 600;
   width: 100px;
   padding-top: 10px;
   padding-bottom: 10px;
}
.linkedIn-buttom {
  border: 1px solid #25282B;
   background-color: transparent;
   color: #25282B;
   border-radius: 6px;
   font-size: 15px;
   padding: 7px;
   padding-left: 15px;
   padding-right: 15px;
   font-weight: 600;
   width: 100px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-left: 20px;
}
.image {
  display: none;
  width: 50%;
  align-self: flex-start;
  margin-left: 30px;
}
@media screen and (min-width: 700px)  {
  .image {
    display: flex;
  }
  .text-container {
    width: 50%;
  }
  .main-title {
    font-size: 50px;
  }
}
